<template>
  <footer>
    <div class="location footer-border py-2 px-5 text-gray-500 w-full flex items-center justify-between">
      <div class="country">
        Turkey
      </div>
      <div class="author font-serif text-indigo-600">
        #Onur
      </div>
    </div>
    <div class="links flex flex-col sm:flex-row items-center justify-center sm:justify-between">
      <div class="left-links px-5 py-4 space-x-5 sm:space-x-10 text-sm text-gray-500">
        <nuxt-link to="">About</nuxt-link>
        <nuxt-link to="">Advertising</nuxt-link>
        <nuxt-link to="">Business</nuxt-link>
        <nuxt-link to="">How Search works</nuxt-link>
      </div>
      <div class="right-links px-5 py-4 space-x-5 sm:space-x-10 text-sm text-gray-500">
        <nuxt-link to="">Privacy</nuxt-link>
        <nuxt-link to="">Terms</nuxt-link>
        <nuxt-link to="">Settings</nuxt-link>
      </div>
    </div>
  </footer>
</template>

<style>
  footer
  {
    background-color:#F2F2F2
  }
  .footer-border
  {
    border-bottom: 1px solid #dadce0;
  }
</style>