<template>
  <header class="h-14 p-1">
    <nav class="w-full h-full flex items-center justify-end px-5 space-x-5 text-sm text-gray-700">

      <nuxt-link class="hover:underline" to="#">Gmail</nuxt-link>
      <nuxt-link class="hover:underline" to="#">Images</nuxt-link>
      <nuxt-link to="#" class="flex text-gray-600 w-6 h-6 p-2 box-content rounded-full hover:bg-gray-100"> <GoogleAppsIcon /> </nuxt-link>
      <img src="/profile.jfif" class="flex items-center justify-center w-8 h-8 rounded-full box-border" height="30" width="30">
    </nav>
  </header>
</template>

<script>

// SVG
import GoogleAppsIcon from '@/components/svg/google-apps-icon'


export default {
    components: {
    GoogleAppsIcon,
  },
  
}
</script>