<template>
  <footer>
    <div class="location container mx-auto w-full flex p-3 border-b border-gray-300">
      <div class="country text-gray-500">
        Turkey
      </div>
      <div class="location-details flex flex-1 pl-3 ml-3 border-l border-gray-300">
        <b class="text-gray-600 text-sm my-auto">000000, Ankara</b>
        <span class="mx-1 text-blue-500"> - </span>
        <nuxt-link class="text-blue-600 text-sm my-auto" to="">From your IP address</nuxt-link>
        <span class="mx-1 text-blue-500"> - </span>
        <nuxt-link class="text-blue-600 text-sm my-auto" to="">Update Location</nuxt-link>
      </div>
    </div>
    <div class="base-links container mx-auto px-3 space-x-5 text-sm pt-1 pb-5 text-gray-500">
      <nuxt-link class="hover:text-gray-900" to="#">Help</nuxt-link>
      <nuxt-link class="hover:text-gray-900" to="#">Send feedback</nuxt-link>
      <nuxt-link class="hover:text-gray-900" to="#">Privacy</nuxt-link>
      <nuxt-link class="hover:text-gray-900" to="#">Terms</nuxt-link>
    </div>
  </footer>
</template>