<template>
  <nav class="flex flex-col align-center justify-between p-5 pb-3 border-b border-gray-200">
    <div class="flex w-full">
          <div class="flex flex-col items-center justify-center brand mr-10">
      <nuxt-link to="/"><img class="h-7" src="/google-search.png" height="50" alt="Search"></nuxt-link>
    </div>
    <div class="search flex flex-1 relative">
      <input v-model="searchValue" type="text" class="w-full h-10 rounded-full focus:outline-none pl-5 pr-24 shadow-md border border-gray-100 focus:shadow-xl" @keydown.enter="searchNow()">
      <div class="input-button-group absolute flex right-2 top-2">
        <button @click.prevent='searchValue=""'>
          <GoogleXIcon v-if="searchValue.length > 0" class="w-6 h-6 text-gray-600 border-r-2 border-gray-300 pr-4 box-content cursor-pointer z-10"/>
        </button>
        <GoogleMicIcon class="w-6 h-6 box-content pl-4" />
      </div>
    </div>
    <div class="hidden items-center justify-center user ml-10 space-x-5 sm:flex">
        <GoogleSettingsIcon class="w-6 h-6 text-gray-600" />
        <GoogleAppsIcon class="w-6 h-6 text-gray-600" />
        <img src="/profile.jfif" class="flex items-center justify-center w-8 h-8 rounded-full box-border" height="30" width="30">
    </div>
    </div>
    <div class="container flex items-center justify-between mx-auto mt-10">
     <div class="icon-set flex space-x-3 sm:space-x-5 text-sm text-gray-500">
       <nuxt-link class="flex items-center justify-center" to="#"><GoogleSearcIconColor class="w-5 h-5 mr-1"/>All</nuxt-link>
       <nuxt-link class="flex items-center justify-center" to="#"><GoogleImagesIcon class="w-5 h-5 mr-1"/>İmages</nuxt-link>
       <nuxt-link class="flex items-center justify-center" to="#"><GoogleVideosIcon class="w-5 h-5 mr-1"/>Videos</nuxt-link>
       <nuxt-link class="flex items-center justify-center" to="#"><GoogleMapsIcon class="w-5 h-5 mr-1"/>Maps</nuxt-link>
       <nuxt-link class="flex items-center justify-center" to="#"><GoogleNewsIcon class="w-5 h-5 mr-1"/>News</nuxt-link>
       <nuxt-link class="flex items-center justify-center" to="#"><GoogleMoreIcon class="w-5 h-5 mr-1"/>More</nuxt-link>
     </div>
     <div class="icon-tools text-sm text-gray-500 hidden sm:flex">
       <nuxt-link to="#">
         Tools
       </nuxt-link>
     </div>
    </div>
  </nav>
</template>

<script>
import GoogleXIcon from '@/components/svg/google-x-icon'
import GoogleMicIcon from '@/components/svg/google-mic-icon'
import GoogleSettingsIcon from '@/components/svg/google-settings-icon'
import GoogleAppsIcon from '@/components/svg/google-apps-icon'
import GoogleSearcIconColor from '@/components/svg/google-search-icon-color'
import GoogleImagesIcon from '@/components/svg/google-images-icon'
import GoogleVideosIcon from '@/components/svg/google-videos-icon'
import GoogleMapsIcon from '@/components/svg/google-maps-icon'
import GoogleNewsIcon from '@/components/svg/google-news-icon'
import GoogleMoreIcon from '@/components/svg/google-more-icon'
export default {
  components:
  {
    GoogleXIcon,
    GoogleMicIcon,
    GoogleSettingsIcon,
    GoogleAppsIcon,
    GoogleSearcIconColor,
    GoogleImagesIcon,
    GoogleVideosIcon,
    GoogleMapsIcon,
    GoogleNewsIcon,
    GoogleMoreIcon
  },
  data() {
    return {
      searchValue: this.$route.params.search,
      typing : false
    }
  },
  methods:
  {
    searchNow()
    {
      this.$router.push(this.searchValue)
   },

  }
}
</script>