<template>
  <nuxt-link to="">
      <div class="w-full text-sm mt-2 text-gray-500">
        <p>About {{ count }} results ({{time}}) seconds</p> 
      </div>
  </nuxt-link>
</template>

<script>
export default {
  props:
  {
    count :
    {
      type : String,
      default : "0"
    },
    time : {
      type : String,
      default : "0.00"
    }
  }
  
}
</script>