<template>
  <div class="w-full mt-5">
    <nuxt-link :href="url" to='' target="_blank" class="text-sm text-gray-500">
    <p class="lowercase">
      {{url}}
    </p>
    <h3 class="text-lg my-1 text-blue-900 hover:underline " v-html="title"></h3>
    </nuxt-link>
    <p class="text-sm text-gray-500" v-html="description"></p>
  </div>
</template>

<script>

export default {
  props:{
    url: 
    {
      type: String,
      default: '',
      require : true,
    },
    title:
    {
      type: String,
      default: '',
      require : true
    },
    description :
    {
      type: String,
      default: '',
      require : true
    }
  }
}
</script>