<template>
  <div class="flex flex-col">
    <Navbar />
    <nuxt class="flex flex-1" />
    <Footer />
  </div>
</template>

<script>
import Navbar from '@/components/common/navbar'
import Footer from '@/components/common/footer'

export default {
  components:
  {
    Navbar,
    Footer,
  }  
}

</script>

<style>
html, body , #__nuxt , #__layout , #__layout > div
{
  width: 100%;
  height: 100%;
}

svg
{
  fill: currentColor;
}
  
main
{
  /* height: 75%; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
</style>