<template>
  <div class="flex flex-col w-full h-full overflow-hidden">
      <Navbar/>
      <nuxt class="flex flex-col flex-1 overflow-auto"/>
      <Footer />
  </div>
</template>

<script>

import Navbar from '@/components/search/navbar'
import Footer from '@/components/search/footer'

export default {
  components:
  {
    Navbar,
    Footer
  }
}
</script>

<style>
  
</style>