<template>
  <div>
    <div class="container mx-auto px-5">
      <ResultDetails :count="SearchCount" :time="SearchTime"/>
      <div v-for="result in ApiResult" :key='result.cacheId'>
        <Result :url="result.formattedUrl" :title='result.htmlTitle' :description="result.htmlSnippet" />
      </div>
      <div class="pagination-buttons container flex items-center justify-center my-10 space-x-10 hover:text-blue-800">
        <button v-if="Page > 10" class="flex items-center justify-center text-gray-700 h-5" @click.prevent="PreviousPage()"><BootstrapLeftIcon class="text-gray-600 h-5"/> Previous</button>
        <button class="flex items-center justify-center text-gray-700 h-5" @click.prevent="NextPage()">Next <BootstrapRightIcon class="text-gray-600 h-5"/></button>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import ResultDetails from '@/components/search/result-details'
import Result from '@/components/search/result'

import BootstrapLeftIcon from '@/components/svg/bootstrap-left-icon'
import BootstrapRightIcon from '@/components/svg/bootstrap-right-icon'


export default {
  components:
  {
    ResultDetails,
    Result,
    BootstrapLeftIcon,
    BootstrapRightIcon
  },
  layout: 'search',
  scrollToTop: true,
  data() {
    return {
      ApiResult : this.GoogleResult,
      SearchCount : "0",
      SearchTime : "0",
      Page : 0
    }
  },
  created()
  {
    this.getAllData()
  },
  methods: {
    async getAllData()
    {
      await axios.get("https://www.googleapis.com/customsearch/v1?key="+process.env.API_KEY+"&cx="+process.env.CTX_KEY+"&q=" + this.$route.params.search + '&start=' + this.Page)
      .then((response)=>{
        this.ApiResult = response.data.items;
        this.SearchCount = response.data.searchInformation.formattedTotalResults.toString();
        this.SearchTime = response.data.searchInformation.formattedSearchTime.toString();
        })
    },
    PreviousPage()
    {
      this.Page = this.Page - 10
      this.getAllData()
    },
    NextPage()
    {
      this.Page = this.Page + 10
      this.getAllData()
    }
  },

}
</script>
