<template>
  <main class="flex flex-col flex-1 flex-grow items-center px-5">
    <img src="/google.png" class="mt-3 mb-6" alt="" srcset="">
    <div class="search-group relative max-w-xl w-full h-10 box-border ">
      <input v-model="SearchValue" type="text" class="max-w-xl w-full h-10 px-10 box-border rounded-full border border-gray-200 focus:outline-none focus:shadow-lg hover:shadow-lg text-base text-gray-900" @keyup.enter='Search($event.target.value)'>
      <GoogleSearchIcon class="w-5 h-5 text-gray-500 absolute inputLeftIcon"/>
      <GoogleMicIcon class="w-5 h-5 text-gray-500 absolute inputRightIcon cursor-pointer"/>
    </div>
    <div class="buttons space-x-2 mt-8">
      <button class="bg-gray-100 p-2 text-sm text-gray-900 border border-transparent hover:border-gray-300 hover:shadow-sm rounded-sm" @click.prevent="Search()">Google Search</button>
      <button class="bg-gray-100 p-2 text-sm text-gray-900 border border-transparent hover:border-gray-300 hover:shadow-sm rounded-sm">I'm Feeling Lucky</button>
    </div>
    <div class="offering text-sm mt-6 text-gray-800">
      Google offered in : <span class="ml-2 text-blue-900 cursor-pointer hover:underline"> Türkçe</span>
    </div>
  </main>
</template>

<script>
import GoogleSearchIcon from '@/components/svg/google-search-icon'
import GoogleMicIcon from '@/components/svg/google-mic-icon'

export default {
  components:
  {
    GoogleSearchIcon,
    GoogleMicIcon
  },
  data() {
    return {
      SearchValue : ''
    }
  },
  methods:
  {
    Search(searchValue = this.SearchValue) 
    {
      searchValue = searchValue.replace('/','%2F')
      this.$router.push('/'+ encodeURI(searchValue));
    }
  }
}
</script>

<style scoped>
  .inputLeftIcon
  {
    position: absolute;
    top:25%;
    left:.9rem;
  }
  .inputRightIcon
  {
    position: absolute;
    top:25%;
    right:.9rem;
  }
</style>
